@use 'colors';

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$deepBlack;
    min-height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: min-content;


        p {
            overflow: hidden;
        }

        h3 {
            overflow: hidden;
        }

        h2 {
            overflow: hidden;
            margin-bottom: 20px;
            margin: 0;
        }


        form {
            justify-content: center;
            flex: 10;
            background-color: colors.$innerFormColor;
            border-radius: 2ch;
            border: solid 25px colors.$formColor;
            padding: 30px;
            line-height: 1.5;

        }

        .headercontent {
            display: flex;
            flex-direction: column;
            flex: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            form {
                width: 720px;
            }

        }

        .footercontent {
            display: flex;
            flex-direction: column;
            flex: 7;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            form {
                width: 500px;
                text-align: center;
            }
        }
    }
}