@use 'colors';

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    line-height: 1.5;
    font-size: 16px;
    background-color: colors.$deepBlack;

    h1 {
        font-size: 20px;
    }

    h3 {
        font-weight: 500;
        font-size: 16px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        background-color: colors.$formColor;
        width: 400px;
        height: 450px;
        gap: 20px;
        align-items: center;
    }

    input {
        padding: 10px;
        border: none;
        border-radius: 1ch;
        background-color: colors.$inputColor;
        width: 200px;
    }

    button {
        padding: 8px;
        width: 150px;

    }

    a {
        font-size: 12px;
        font-weight: 500;
        color: colors.$aColor;
        text-decoration: inherit;
    }

    a:hover {
        color: colors.$aHover;
        text-decoration: underline;
        cursor: pointer;
    }


}