.dark-mode {
    --pTextColor: rgb(255, 255, 255);
    --bgColor: #2E2E2E;
    --btnBgColor: #3D5CCD;
    --btnHoverColor: rgba(255, 255, 255, 0.87);
    --btnTextColor: rgba(255, 255, 255, 0.87);
    --btnHoverTextColor: rgba(255, 255, 255, 0.87);
    --containerColor: #080808;
    --navbarColor: #242424;
    --formColor: #1C1C1C;
    --innerFormColor: #303030;
    --ModalColor: #1C1C1C;
    --ModalAColor: rgba(255, 255, 255, 0.87);
    --imgContainerColor: rgb(48, 48, 48);
    --imgContainerBgColor: #424242;
    --imgContainerHover: rgba(255, 255, 255, 0.87);
    --imgContainerBorder: rgb(223, 223, 223);
    --imgBtnHover: rgba(0, 0, 0, 0.5);
    --inputColor: #484848;
    --backBtnColor: #1a1a1a;
    --btnColor: #1a1a1a;
    --slideBtnHover: rgba(1, 0, 0, 0.4);
    --btnHover: rgba(255, 255, 255, 0.87);
    --slideBtnColor: white;
    --authBtnHover: #3D5CCD;
    --lineColor: #3D5CCD;
    --h1Color: #3D5CCD;
    --aColor: #3D5CCD;
    --aHover: #5374eb;
    --profileBorderColor: #5374eb;
    --profileBorderColorHover: rgba(255, 255, 255, 0.87);
    --spanColor: rgba(255, 255, 255, 0.87);
    --brightColor: #1b63ff;
}

.light-mode {
    --pTextColor: rgb(37, 37, 37);
    --bgColor: #dbdbdb;
    --btnBgColor: #3D5CCD;
    --btnHoverColor: #ECECEC;
    --btnTextColor: rgba(255, 255, 255, 0.87);
    --containerColor: #fafafa;
    --navbarColor: #3D5CCD;
    --formColor: #d3d3d3;
    --ModalColor: #e2e2e2;
    --ModalAColor: rgba(0, 0, 0, 0.87);
    --imgContainerColor: rgb(221, 221, 221);
    --imgContainerBgColor: rgb(173, 173, 173);
    --imgContainerHover: rgba(14, 14, 14, 0.87);
    --imgContainerBorder: #3D5CCD;
    --imgBtnHover: rgba(228, 228, 228, 0.5);
    --slideBtnColor: black;
    --slideBtnHover: rgba(1, 0, 0, 0.4);
    --innerFormColor: #f8f8f8;
    --inputColor: hsl(0, 0%, 100%);
    --backBtnColor: #f1f1f1;
    --btnColor: #ffffff;
    --btnHover: #1a1a1a;
    --authBtnHover: #ffffff;
    --lineColor: #3D5CCD;
    --h1Color: #ffffff;
    --aColor: #3D5CCD;
    --aHover: #0066cc;
    --profileBorderColor: rgba(255, 255, 255, 0.87);
    --profileBorderColorHover: #5374eb;
    --spanColor: rgba(255, 255, 255, 0.87);
    --brightColor: #1a73e8;
}