$deepBlack : #080808;
$darkGrey: #242424;
$formColor : #1C1C1C;
$innerFormColor : #303030;
$inputColor : #484848;
$bgColor : #2E2E2E;
$btnColor : #1a1a1a;
$aColor : #3D5CCD;
$aHover : #5374eb;
$brightColor : #1b63ff;
$aHoverWhite: rgba(255, 255, 255, 0.87);