@use 'colors';

.footer {
    padding: 20px;
    background-color: colors.$darkGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;

    img {
        height: 70px;
    }
}