@use 'colors';

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$deepBlack;
    min-height: 100vh;

    p,
    h2,
    h4 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: colors.$aColor;
    }

    a:hover {
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }

    .profiles {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 20px;

        button {
            width: max-content;
            align-self: flex-end;
            padding: 10px;
            width: 80px;
        }

        hr {
            border: none;
            border-top: 2px solid colors.$aColor;
            width: 1185px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }

        .header {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h4 {
                font-size: 15px;
            }

            h2 {
                font-size: 22px;
            }
        }

        .category {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
            margin-top: 10px;

            p {
                font-size: 15px;
            }
        }

        .image {
            display: flex;
            flex-direction: row;
            gap: 30px;

            img {

                height: 250px;
            }

        }

    }
}