@use 'colors';

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$deepBlack;
    min-height: 100vh;

    p,
    h2,
    h4 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: colors.$aColor;
    }

    a:hover {
        color: colors.$aHoverWhite;
        text-decoration: underline;
        cursor: pointer;
    }

    .profiles {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 30px;
        margin-bottom: 70px;
        width: 88%;

        button {
            width: max-content;
            align-self: flex-end;
            padding: 10px;
            width: 80px;
        }

        hr {
            border: none;
            border-top: 2px solid colors.$aColor;
            width: 1267px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            border-radius: 2ch;
            min-width: 400px;
            min-height: 400px;
            gap: 10px;
            text-align: center;
            background-color: colors.$formColor;

        }

        .header {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h4 {
                font-size: 15px;
            }

            h2 {
                font-size: 22px;
            }
        }

        .category {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
            margin-top: 10px;

            p {
                font-size: 15px;
            }
        }

        .image {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 23px;
            justify-content: space-evenly;

            .image-container {

                img {
                    max-height: 275px;
                    max-width: 100%;
                    object-fit: contain;
                }
            }

        }

    }

    @media screen and (max-width: 1280px) {
        .profiles {
            .image {
                gap: 25px;

                img {
                    height: 251px;
                }
            }
        }
    }

    @media screen and (max-width: 1098px) {
        .profiles {
            width: 90%;

            button {
                padding: 7px;
            }

            hr {
                width: 100%;
            }

            .image {
                gap: 20px;

                img {
                    height: 208px;
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        .profiles {
            .image {
                gap: 18px;

                img {
                    height: 182px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .profiles {

            .image {
                gap: 14px;

                img {
                    height: 146px;
                }
            }
        }
    }

    @media screen and (max-width: 640px) {
        .profiles {
            gap: 10px;

            button {
                padding: 4px;
            }

            button {
                align-self: center;
            }

            hr {
                width: 97%;
                margin-bottom: 5px;
                border-top: 1px solid colors.$aColor;
            }

            button {
                padding: 4px;
            }

            .header {
                align-items: center;

                h2 {
                    font-size: 18px;
                }

                h4 {
                    font-size: 13px;
                }
            }

            .category {
                justify-content: center;
                margin-top: 3px;

                p {
                    font-size: 11px;
                }
            }

            .image {
                gap: 7px;

                img {
                    height: 120px;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .profiles {
            gap: 10px;

            button {
                padding: 3px;
            }

            hr {
                width: 60%;
                margin-bottom: 4px;
            }

            .header {

                h2 {
                    font-size: 14px;
                }

                h4 {
                    font-size: 9px;
                }
            }

            .category {
                p {
                    font-size: 7px;
                }
            }

            .image {
                flex-direction: column;
                gap: 7px;

                img {
                    height: 180px;
                }
            }
        }

    }

    @media screen and (max-width: 384px) {
        .profiles {
            button {
                padding: 1px;
            }

            hr {
                width: 57%;
                margin-bottom: 3px;
                border-top: 1.3px solid colors.$aColor;
            }

            .image {

                img {
                    height: 130px;
                }
            }
        }
    }
}