@use 'colors';

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--bgColor);
    color: var(--pTextColor);

    button {
        border-radius: 10px;
        border: 2px solid transparent;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        padding: 8px 12px;
        background-color: var(--btnBgColor);
        cursor: pointer;
        border-color: var(--btnBgColor);
        color: var(--btnTextColor);
    }

    button:hover {
        background-color: var(--btnColor);
        color: var(--btnHover);
    }

    input {
        color: var(--pTextColor);
    }

    select {
        color: var(--pTextColor);
    }

    textarea {
        font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
        width: 100%;
        min-height: 250px;
        padding: 10px;
        border-radius: 4px;
        background-color: var(--formColor);
        color: var(--pTextColor);
        resize: vertical;
        box-sizing: border-box;
        font-size: 16px;
        overflow: auto;
        line-height: 1.5;
    }

    span {
        font-size: 12px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
    }
}