@use 'colors';

.navbar {
    background-color: colors.$darkGrey;

    .container {
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 240px;

        button {
            width: max-content;
            align-self: flex-end;
            width: 80px;
            padding: 5px;
            border: none;
            background: none;
        }

        .links {
            display: flex;
            gap: 20px;

            h1 {
                font-size: 34px;
                text-decoration: underline;
            }

            a {
                text-decoration: none;
                color: colors.$aColor;
            }

            a:hover {
                color: rgba(255, 255, 255, 0.87);
                cursor: pointer;
            }

            .link {}
        }

        .logo {


            img {
                width: 200px;
            }

        }

        .userprofile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;

            img {
                height: 55px;
                width: 55px;
                border-radius: 40px;
                border: 3px solid transparent;
                border-color: colors.$aHover;
                cursor: pointer;
            }


            span {
                cursor: pointer;
                font-size: 14px;
            }

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.87)
            }

            .profile {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                gap: 10px;
            }

            .authbutton {
                gap: 10px;
                flex-direction: row;
                display: flex;
            }
        }
    }

    @media screen and (max-width: 1098px) {
        .container {
            gap: 150px;
        }
    }

    @media screen and (max-width: 960px) {
        .container {
            gap: 80px;
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            gap: 0px;
        }
    }

    @media screen and (max-width: 640px) {
        .container {
            gap: 170px;

            .logo {
                display: none;

                img {
                    width: 200px;
                }

            }

        }
    }

    @media screen and (max-width: 480px) {
        .container {
            gap: 40px;

            .logo {
                display: none;

                img {
                    width: 200px;
                }

            }

        }
    }
}