@use 'colors';

.singlepage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$deepBlack;
    min-height: 100vh;

    p,
    h2,
    h4,
    h3 {
        margin: 0;
    }

    button {
        padding: 10px;
        display: flex;
        width: max-content;
        align-self: flex-end;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 85%;

        .error {
            font-size: 14px;
            color: rgb(186, 49, 49);
        }

        .button-group {
            display: flex;
            flex-direction: row;
            gap: 10rem;
            justify-content: flex-end;
            align-items: center;
        }

        .button-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .imageupload {
                align-self: flex-end;
            }

            .back-button {
                align-items: flex-start;
            }
        }

        .carousel {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;

            .img-slider-btn {
                all: unset;
                display: block;
                position: absolute;
                transform: translateY(400%);
                font-size: 2rem;
                padding: 0.5rem;
                cursor: pointer;
                transition: background-color 100ms ease-in-out;

                &:hover {
                    background-color: rgba(1, 0, 0, 0.4);
                }
            }

            .img-slider-btn>* {
                stroke: white;
                fill: black;
                width: 2rem;
                height: 2rem;
            }


            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 750px;
                height: 499px;

                .slider-wrapper {
                    display: flex;
                    transition: transform 300ms ease-in-out;
                    width: 100%;

                    .slide {
                        flex: 0 0 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        img {
                            max-width: 750px;
                            max-height: 499px;
                            object-fit: contain;
                        }

                        .button-base {
                            position: absolute;
                            top: 10px;
                            padding: 5px 10px;
                            font-size: 16px;
                            cursor: pointer;
                            z-index: 2;
                            border-radius: 8px;
                            text-decoration: none;
                            background-color: rgba(0, 0, 0, 0.5);
                        }

                        .favorite-button {
                            @extend .button-base;
                            left: 10px;

                            color: colors.$brightColor;

                            &:hover {
                                background-color: colors.$brightColor;
                                color: colors.$aHoverWhite;
                            }
                        }

                        .favorite_active {
                            background-color: colors.$brightColor;
                            color: colors.$aHoverWhite;
                        }

                        .delete-button {
                            @extend .button-base;
                            right: 10px;
                            color: rgb(223, 16, 16);

                            &:hover {
                                background-color: rgb(223, 16, 16);
                                color: colors.$aHoverWhite;
                            }
                        }

                    }
                }
            }

            .slider-buttons {
                position: absolute;
                bottom: 1rem;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;

                button {
                    background-color: colors.$deepBlack;
                    border: 2px solid white;
                    color: white;
                    font-size: 1rem;
                    padding: 0.5rem;
                    cursor: pointer;
                    transition: background-color 100ms ease-in-out;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background-color: white;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                    }

                    &.active::before {
                        opacity: 1;
                    }

                    &:hover {
                        background-color: lighten(colors.$deepBlack, 10%);
                    }
                }
            }
        }

        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: colors.$formColor;
            border-radius: 2ch;
            gap: 25px;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 30px;
            max-width: 100%;
            width: 100%;
        }

        a {
            font-size: 14px;
            font-weight: 600;
            color: colors.$aHover;
            text-decoration: underline;
        }

        a:hover {
            color: colors.$aHoverWhite;
            text-decoration: underline;
            cursor: pointer;
        }

        .leftcontent {
            display: flex;
            flex-direction: column;
            flex: 4;
            background-color: colors.$innerFormColor;
            border-radius: 2ch;
            padding: 25px;

            hr {
                color: white;
                width: 200px;
                margin: 0;
            }

            .edit-button {
                display: flex;
                justify-content: end;
                margin-bottom: 20px;

                a {
                    font-weight: 600;
                    font-size: 18px;
                    text-decoration: none;
                    color: colors.$brightColor;
                }

                a:hover {
                    color: colors.$aHoverWhite;
                }
            }

            .usercontent {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                text-align: center;

                .username {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                .socialmedia {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }
        }

        .rightcontent {
            flex-direction: column;
            flex: 6;
            background-color: colors.$innerFormColor;
            border-radius: 2ch;
            padding: 25px;
            min-width: 65%;

            .edit-button {
                display: flex;
                justify-content: end;
                margin-bottom: 20px;

                .save {
                    display: flex;
                    gap: 25px;
                }

                a {
                    font-weight: 600;
                    font-size: 18px;
                    text-decoration: none;
                    color: colors.$brightColor;
                }

                a:hover {
                    color: colors.$aHoverWhite;
                }
            }

            p {
                overflow: hidden;
                margin-top: 10px;
                line-height: 1.5;
            }

            h3 {
                overflow: hidden;
            }
        }

    }

    @media screen and (max-width: 1280px) {
        .content {
            width: 90%;

            .carousel {
                button {
                    font-size: 1.7rem;
                }

                .image-container {
                    img {
                        max-height: 250px;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 1098px) {
        .content {
            width: 90%;

            button {
                padding: 7px;
            }

            .carousel {
                button {
                    font-size: 1.5rem;
                    transform: translateY(-200%);
                }

                .image-container {
                    gap: 20px;

                    img {
                        max-height: 210px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 960px) {

        p,
        a {
            font-size: 13px;
        }

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 14px;
        }

        .content {

            .carousel {
                button {
                    font-size: 1.4rem;
                    transform: translateY(-200%);
                }

                .image-container {
                    gap: 18px;

                    img {
                        max-height: 185px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        .content {
            width: 92%;

            form {
                padding: 15px;
            }

            p,
            a {
                font-size: 11px;
            }

            h3 {
                font-size: 14px;
            }

            h4 {
                font-size: 12px;
            }

            .carousel {
                button {
                    font-size: 1.2rem;
                    transform: translateY(-160%);
                }

                .image-container {
                    gap: 15px;

                    img {
                        max-height: 148px;
                    }
                }
            }

            .leftcontent {
                padding: 10px;

                hr {
                    width: 120px;
                }
            }

            .rightcontent {
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 640px) {

        .content {
            width: 93%;
            display: flex;

            button {
                padding: 4px;
            }

            form {
                padding: 12px;
            }

            p,
            a {
                font-size: 10px;
            }

            h3 {
                font-size: 13px;
            }

            h4 {
                font-size: 11px;
            }

            .carousel {
                button {
                    font-size: 1rem;
                    transform: translateY(-200%);
                }

                .image {
                    gap: 13px;
                    width: 350px;
                    height: 399px;

                    .slider-wrapper {
                        .slide {

                            img {
                                max-width: 350px;
                                max-height: 399px;
                            }
                        }
                    }
                }
            }

            .leftcontent {
                hr {
                    width: 50px;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {

        .content {
            width: 100%;
            display: flex;

            button {
                align-self: center;
                padding: 3px;
            }

            form {
                padding: 10px;
            }

            p,
            a {
                font-size: 8px;
            }

            h3 {
                font-size: 11px;
            }

            h4 {
                font-size: 9px;
            }



            .carousel {
                button {
                    font-size: 1rem;
                    transform: translateY(-200%);
                }

                .image {
                    gap: 13px;
                    width: 350px;
                    height: 399px;

                    .slider-wrapper {
                        .slide {

                            img {
                                max-width: 350px;
                                max-height: 399px;
                            }
                        }
                    }
                }
            }

            form {
                width: 80%;
            }

            .leftcontent {
                padding: 10px;
                width: 80%;

                hr {
                    width: 60px;
                }

                .usercontent {
                    .socialmedia {
                        gap: 10px;
                    }
                }
            }

            .rightcontent {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 384px) {
        .content {
            form {
                padding: 8px;
            }

            p,
            a {
                font-size: 6px;
            }

            h3 {
                font-size: 8px;
            }

            h4 {
                font-size: 7px;
            }

            .carousel {
                button {
                    font-size: 1rem;
                    transform: translateY(-50%);
                }

                .image-container {
                    flex-direction: column;
                    gap: 5px;

                    img {
                        max-height: 170px;
                    }
                }
            }

            .leftcontent {

                .usercontent {
                    .socialmedia {
                        gap: 7px;

                    }
                }
            }

        }
    }
}